<div class="container">
  <h2>Edit your Flat</h2>
  <div class="new_form">
    <%= simple_form_for(@flat) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :price_per_night %>
        <%= f.input :housing_type %>
        <%= f.input :max_ppl %>
        <%= f.input :address %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Flat edited", class: "btn", id: "new-flat-button" %>
    <% end %>
  </div>
</div>
