<h1>Flats#index</h1>

<div class="container">
  <div><%= link_to 'Add new', new_flat_path %></div>
  <div style="text-align: right"><%= link_to 'map', map_path  %></div>
  <div class="cards">
    <% @flats.each do |flat|%>
      <div class="card d-flex flex-column">
        <% if policy(flat).destroy? %>
          <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe , flat_path(flat), method: :delete, id: "trash" %>
        <% end %>
        <div> <%= link_to flat.title, flat_path(flat)  %></div>
       <div> <%= flat.description %> </div>
       <div> <%= flat.housing_type %> </div>
       <div> <%= flat.max_ppl %> </div>
       <div> <%= flat.price_per_night %> </div>
       <div class="card-img-top"><%= cl_image_tag flat.photo, height: 100, width: 100, crop: :fill %></div>
       <!-- <div> <%= cl_image_tag flat.photo %> </div> -->
      </div>
    <% end %>
  </div>
</div>
