
  <div class="d-flex">
    <div class="cards">
      <% @flats.each do |flat|%>
        <div class="card d-flex flex-column">
          <div> <%= link_to flat.title, flat_path(flat)  %></div>
         <div> <%= flat.description %> </div>
         <div> <%= flat.housing_type %> </div>
         <div> <%= flat.max_ppl %> </div>
         <div> <%= flat.price_per_night %> </div>
        </div>
      <% end %>
    </div>

      <div
      id="map"
      style="width: 33%;
      height: 600px;
      margin: 10px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

  </div>
