


<!-- contains the box with cards and map -->
<div class="d-flex navbar-spacing">
 <!-- Box with all the cards -->

 <div class="cards" id="card-trip box-with-all-cards">
  <% @flats.each do |flat|%>
  <div class="card">
    <div class="card-img-top">
      <%= cl_image_tag flat.photo, class: "flat-picture" %>
    </div>
    <div class="card d-flex flex-column">
      <div> <%= link_to flat.title, flat_path(flat)  %></div>
      <div> <%= flat.description %> </div>
      <div> <%= flat.housing_type %> </div>
      <div> <%= flat.max_ppl %> </div>
      <div> <%= flat.price_per_night %></div>
    </div>
  </div>
  <% end %>
</div>



<div id="map"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>

