<div class="container">
  <div class="row">Name:
  <%= @flat.title %></div>
  <div class="row">A bit more about this place:
  <%= @flat.description %></div>
  <div class="row">Price per night:
  <%= @flat.price_per_night %></div>
  <div class="row">Type of place:
  <%= @flat.housing_type %></div>
  <div class="row">Number of beds:
  <%= @flat.max_ppl %></div>

  <div class="row"><%= link_to "Back to the research", flats_path %></div>
  <% if policy(@flat).edit? %>
  <div class="row"><%= link_to "Edit", edit_flat_path %></div>
  <% end %>
</div>

