<div class="container navbar-spacing">
  <h4 id="title">Upcoming trips</h4>
  <% @bookings.each do |booking| %>
    <ul>
      <% flat = Flat.find(booking.flat_id ) %>
      <div class="card-product">
        <div id="img">
          <%= cl_image_tag flat.photo,  height: 100, width: 150, crop: :fill %>
        </div>
        <div id="text">

          <h3><%= flat.title %></h3>
          <p>From <%= booking.start_date %> till <%= booking.end_date %></p>
          <p><%= flat.description %></p>
          <p>Price per night: $<%= flat.price_per_night%></p>
        </div>
      </div>
    </ul>
  <% end %>
</div>
